.mainpage {
  background-color: orangered;
  height: 100vh;
}

h1,
h4 {
  color: white;
}

h1 {
  margin-top: 100px;
}

img {
  padding-top: 150px;
  width: 40vmax;
}

a:hover {
  font-weight: bold;
}
